html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

.list {
    width: 630px;
    border-right: 1px solid #ccc;
    overflow-y: hidden;
    resize: horizontal;
}

.list iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.content {
    padding-left: 10px;
    flex: 1;
    overflow-y: hidden;
}

.content iframe {
    width: 100%;
    height: 100%;
    border: none;
}